.main{
  display: flex;
  justify-content: center;
}

.box{
  border: solid 2px black;
  text-align: center;
  margin: 10px;
  width: 800px;
  height: 800px;
  flex-direction: column;
  font-size: 20pt;
}



.item-img {
  width: 400px;
}
.win{
  border: 10px solid green;
}
.lose{
  border: 10px solid red;
}
.tie{
  border: 10px solid black;
}